{% extends "base.html" %}
{% block content %}
    <h1>Добавление фото</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.paint.label }}<br>
            {{ form.paint (class="form-control") }}<br>
            {% for error in form.paint.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author (class="form-control") }}<br>
            {% for error in form.author.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.photo.label }}<br>
            {{ form.photo (class="form-control") }}<br>
            {% for error in form.photo.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
{% endblock %}